# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# PyInstaller
build/
dist/

# Environnements virtuels
venv/
.venv/
env/

# Fichiers temporaires de l'appli
uploads/
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
